## Python Basic Programming Exercises

In [5]:
# Q1 What is the output of following expression    5 + 4 * 9 % (3 + 1) / 6 - 1

a=(5 + 4 * 9 % (3 + 1) / 6 - 1)

print(a)

4.0

In [11]:
# Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

try:
    num=float(input('enter number= '))
    if num%2==0:
        print ('number is even')
    else:
        print('number is odd')
except:
    print('enter a valid number')

enter number= 8
number is even

In [16]:
# Q3: Write a program to display the multiplication table by taking a number as input. 


try:
    num=float(input('enter number= '))
    for i in range(1,11):
        print(f'{num} x  {i} = {num*i}')
except:
    print('enter a valid number')

enter number= 8.9
8.9 x  1 = 8.9
8.9 x  2 = 17.8
8.9 x  3 = 26.700000000000003
8.9 x  4 = 35.6
8.9 x  5 = 44.5
8.9 x  6 = 53.400000000000006
8.9 x  7 = 62.300000000000004
8.9 x  8 = 71.2
8.9 x  9 = 80.10000000000001
8.9 x  10 = 89.0

In [57]:
# Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
#    but are not a multiple of 5.
 
# Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=',')
print('\b')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [25]:
 #Q5: Count the elements of each datatype inside the list and display in output
 #   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  

    
lst= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
d={'int':0,'bool':0,'float':0,'str':0,'None':0}
for i in lst:
    if type(i)==int:
        d['int']+=1
    elif type(i)==bool:
        d['bool']+=1
    elif type(i)==float:
        d['float']+=1
    elif type(i)==str:
        d['str']+=1
    else:
        d['None']+=1
        
d

{'int': 5, 'bool': 1, 'float': 1, 'str': 4, 'None': 1}

In [4]:
#Q6: Add all values from the list with numeric datatypes 
   #[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

    
lst=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
total=0
for i in lst:   
    if type(i) in (int,float):
        total+=i
    else:
        pass
print(total)

21.5

In [59]:
#Q7: Concat all str datatypes with hyphen as a delimiter
#[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

lst= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
lstn=[]
for i in lst:
    if type(i)==str:
        lstn.append(i)
print('-'.join(lstn))

Py-10-SQL-John

In [58]:
#Q7: Concat all str datatypes with hyphen as a delimiter
#[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]


lst=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
for i in lst:
    if type(i)==str:
        print(i,end='-')
print('\b')

Py-10-SQL-John-

In [9]:
#Q7: Concat all str datatypes with hyphen as a delimiter
#[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]


lst=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
'-'.join(list(filter(lambda x: type(x)==str,lst)))

'Py-10-SQL-John'

In [13]:
#Q8: Write a UDF that takes list as input and returns sum of all numbers 
 #   (exclude bool) and count of all str 
  #  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    

lst=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def func(args):
    
    d={'sum':0,'count_of_str':0}
    for i in args:
        if type(i) in (int,float):
            d['sum']+=i
        elif type(i)==str:
            d['count_of_str']+=1
    return d
func(lst)

{'sum': 21.5, 'count_of_str': 4}

In [24]:
#Q9: Get only odd numbers from the following list and store the numbers in new list
 
 #  li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

#  i. Use loops to get the answer

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
ln=[]
for i in li:
    if i%2!=0:
        ln.append(i)
    else:
        pass
print(ln)

[5, 7, 97, 77, 23, 73, 61]

In [25]:
#Q9: Get only odd numbers from the following list and store the numbers in new list
 
 #  li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

   # ii. Use list comprehensions

    
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
[i for i in li if i%2!=0]

[5, 7, 97, 77, 23, 73, 61]

In [62]:
#Q9: Get only odd numbers from the following list and store the numbers in new list
 
 #  li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

  #iii. Use lambda function with filter
    
    
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list(filter(lambda x: (x%2!=0),li))

[5, 7, 97, 77, 23, 73, 61]

In [37]:
#Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input numbers.


def descr_info(*args):
    d={}
    total=0
    count=0
    mean=0
    minval=0
    maxval=0
    total=sum(args)
    count=len(args)
    minval=min(args)
    maxval=max(args)
    mean=(maxval-minval)/count
    d['sum']=total
    d['count']=count
    d['min']=minval
    d['max']=maxval
    d['mean']=mean
    
    return d

descr_info(2,3,5,6,7,89)

{'sum': 112, 'count': 6, 'min': 2, 'max': 89, 'mean': 14.5}

In [4]:
#Q11: Write an udf to calculate the area of different shapes

#Take shape and dimensions as arguments to udf as follows : 

#1. square which has side
#2. rectangle which has length and width
#3. circle which has radius

#The shape should be a positional argument and it's dimensions are taken as kwargs

#Perform proper validation for the user inputs and then calculate area.

#E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error 
#message like "Please enter 'side' for a square"


def area_func(shape,**kwargs):
    area=0
    if shape=='square':
        if 'side' in kwargs and type(kwargs['side']) in (int,float):
            area=kwargs['side']**2
        else:
            print('proper parameters are not provided for the shape')
    elif shape=='circle':
        if 'radius' in kwargs and type(kwargs['radius']) in (int,float):
            area=3.14*(kwargs['radius']**2)
        else:
            print('proper parameters are not provided for the shape')
    elif shape=='rectangle':
        if 'length' in kwargs and 'width' and type(kwargs['length']) in (int,float) and type(kwargs['width']) in (int,float) :
            area=kwargs['length']*kwargs['width']
        else:
            print('proper parameters are not provided for the shape')
    else:
        print('shape is not defined')
    return area

area_func('square', side=12)

144

In [29]:
#Q12: Write a UDF to reconcile the values within two lists.
#    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
 #   l2 = ['January', 'February', 'April', 'June', 'October', 'December']


def recon_2_lists(lst1,lst2):
    d={}
    lst3=[]
    lst4=[]
    lst5=[]
    for i in lst1:
        for j in lst2:
            if i==j:
                lst3.append(i)            
            elif i not in lst4 and i not in lst2 :
                lst4.append(i)
            else:
                pass
    for i in lst2:
        for j in lst1:
            if i not in lst5 and i not in lst1 :
                lst5.append(i)
            else:
                pass
        
    d['matched']=lst3
    d['only in lst1']=lst4
    d['only in lst2']=lst5 
    
    return d
            

l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

recon_2_lists(l1,l2)

{'matched': ['January', 'February', 'June', 'December'],
 'only in lst1': ['March', 'May', 'September'],
 'only in lst2': ['April', 'October']}

In [79]:
#Q13: write a UDF to check if a number is prime or not.


def prime_no_check(num):
    if num<2:
        print('number is not prime')
    else:
        for i in range(2,int(num/2)+1):
            if (num%i)==0:
                print('number is not prime')
                break
        else:
            print('number is prime')
    
n=int(input('enter number= '))
prime_no_check(n)

enter number= 9
number is not prime

In [106]:
#Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.



num=int(input('enter number= '))
fact=1
if num<0:
    print('enter valid positive number')
elif num==0:
    print('factorial of zero is 0')
else:
    for i in range (1,num+1):
        fact*=i
    print(fact)

enter number= 8
40320

In [96]:
#Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that 
#is an integral number between 1 and n (both included).and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

num=int(input('enter integer number= '))
d={}

for i in range(1,num+1):
    d[i]=i*i
print(d)

enter integer number= 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [92]:
#Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which #contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
#Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() #method to convert list to tuple


var=input('enter comma separated sequence of numbers = ')
lst=var.split(',')
tpl=tuple(lst)
print(f'{lst} {tpl}')

enter comma separated sequence of numbers = 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [87]:
# Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.



string=input('enter comma separated sequence of words = ')
s_string=sorted(string.split(','))
print(','.join(s_string))

enter sentance = without,hello,bag,world
bag,hello,without,world

In [75]:
#Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

string=input('enter a sequence of whitespace separated words = ')
s_string=string.split()
lst=[]
for i in s_string:
    if i not in lst:
        lst.append(i)
    else:
        pass
lst.sort()
print(' '.join(lst))

enter sentance =  hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [69]:
#Q19. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

string=input('enter string = ')

lowercase=0
uppercase=0
for i in string:
    if i.islower():
        lowercase+=1
    elif i.isupper():
        uppercase+=1
    else:
        pass
print(f'UPPER CASE  {uppercase}  LOWER CASE  {lowercase}')

enter string = Arti Yadav
UPPER CASE  2  LOWER CASE  7

In [66]:
#Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

string= input('enter the string = ')
print(string[::-1])

enter the string = abcd123
321dcba